{{ $range := false }}
{{ $resources := false }}
{{ if .Params.audio }}
{{ $range = .Params.audio }}
{{ else }}
{{ $range = .Resources.ByType "audio" }}
{{ $resources = true }}
{{ end }}
{{ with $range }}
<audio preload="metadata" controls>
    {{ range . }}
    <source src="
      {{- if $resources -}}
      {{- .RelPermalink -}}
      {{- else if $.Site.Params.bucket_address -}}
      {{- $.Site.Params.bucket_address -}}
      {{- . -}}
      {{- else -}}
      {{- . -}}
      {{- end -}}
    ">
    {{ end }}
</audio>
{{ end }}
