{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ range .Pages.GroupBy "Section" }}
    {{ $section := $.Site.GetPage "section" .Key}}
    <h2>{{ $section.Title }}</h2>
    <ul>
        {{ if eq .Key "discography" }}
        {{ $albums := slice }}
        {{ range $section.RegularPagesRecursive }}
        {{ if in .Params.artists $.Data.Term }}
        {{ $albums = union $albums (slice .Parent) }}
        {{ end}}
        {{ end }}
        {{ range sort $albums "Date" "desc" }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
        {{ else }}
        {{ range sort .Pages "Date" "desc" }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end}}