/* Light theme colors */
:root[data-theme="light"] {
  --background-color: #fff;
  --text-color: #000;
  --link-color: #fd0d0d;
}

/* Dark theme colors */
:root[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #fff;
  --link-color: #fd0d0d;
  --tab-bg-color: #242424;
  --tab-selected-color: #333;
  --slide-out-background-color: #FFF;
}

/* Fallback for system based on media query */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background-color: #121212;
    --text-color: #fff;
    --link-color: #fd0d0d;
    --tab-bg-color: #999;
    --tab-selected-color: #333;
    --slide-out-background-color: #FFF;
  }
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme="dark"]) {
    --background-color: #fff;
    --text-color: #000;
    --link-color: #fd0d0d;
  }
}

:root {
  /* Light theme colors */
  --background-color: #fff;
  --text-color: #000;
  --link-color: #fd0d0d;
  --navbar-margin: 10px;
  --breadcrumb-active-color: #6c757d;
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none; /* Removes underlines from all links */
}

a:hover, a:focus {
  text-decoration: underline; /* Optional: Adds underlines back on hover or focus for better accessibility */
}

.container {
  padding: 0 20px;
  margin-top: 50px;
  max-width: 600px; /* Set the maximum width of the container */
  margin-left: auto; /* Center align the container */
  margin-right: auto; /* Center align the container */
}

.container.home {
  text-align: center;
}

.profile-pic img {
  width: 120px; /* Adjust based on your preference */
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.breadcrumb-item a {
  text-decoration: none;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #555;
  font-size: 24px;
}

.social-links a:hover {
  color: #fd0d0d;
}

.social-links {
  text-align: center;
  margin-top: 20px;
}

.tabs {
  overflow: hidden;
  text-align: center;
}

.tab-button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: background-color 0.3s;
  color: var(--link-color); /* Set the default color to link color */
  font-size: 1rem;
}

.tab-button:hover {
  background-color: var(--tab-selected-color, #ddd); /* Dark theme or fallback to light theme color */
}

.tab-button.active {
  background-color: var(--tab-selected-color, #ccc); /* Dark theme or fallback to light theme color */
  color: var(--text-color); /* Set the active tab to use the normal text color */
}

.tab-content {
  display: none;
  padding: 6px 12px;
}

.container.page img {
  width: 100%;
  height: auto;
}

.breadcrumb {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background: none;
}

.breadcrumb-item {
  margin-right: 1rem;
}

.breadcrumb-item.active {
  color: var(--breadcrumb-active-color);
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  position: relative;
  left: -0.5rem;
  color: var(--breadcrumb-active-color);
}

.footer {
    text-align: center;
    font-size: 14px;
    color: var(--text-color);
}

header {
  position: sticky;
  top: 0;
}


header nav input[type="checkbox"] {
  display: none;
}

header nav label[for="menu"] {
  display: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-color);
}

header nav .navbar-left {
  display: flex;
  align-items: center;
}

header nav .navbar-right {
  display: flex;
  align-items: center;
}

header nav ul {
  display: inline-flex;
  flex-flow: row nowrap;
  padding-left: 0;
}

header nav ul li {
  list-style: none;
  margin-right: 10px;
}

header nav ul li:last-of-type {
  margin-right: 0;
}

header nav ul li:has(>a[href="/"]) {
  display: none;
} 

header nav label.close {
  color: var(--background-color);
}

header nav span.divider {
  margin: 0 10px;
}

@media screen and (width <= 768px) {
  header nav label[for="menu"] {
    display: block;
  }

  header nav ul {
    display: none;
  }
  
  header nav ul li {
    text-align: right;
    margin: 10px 0;
  }

  header nav input[type="checkbox"]:checked ~ ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--slide-out-background-color);
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    z-index: 1;
    margin: 0;
    height: 100vh;
    padding: 20px;
  }  
}

