/* Light theme colors */
:root[data-theme="light"] {
  --background-color: #fff;
  --text-color: #000;
  --link-color: #fd0d0d;
}

/* Dark theme colors */
:root[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #fff;
  --link-color: #fd0d0d;
  --tab-bg-color: #242424;
  --tab-selected-color: #333;
}

/* Fallback for system based on media query */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background-color: #121212;
    --text-color: #fff;
    --link-color: #fd0d0d;
    --tab-bg-color: #999;
    --tab-selected-color: #333;
  }
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme="dark"]) {
    --background-color: #fff;
    --text-color: #000;
    --link-color: #fd0d0d;
  }
}

:root {
  /* Light theme colors */
  --background-color: #fff;
  --text-color: #000;
  --link-color: #fd0d0d;
  --navbar-margin: 10px;
  --breadcrumb-active-color: #6c757d;
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none; /* Removes underlines from all links */
}

a:hover, a:focus {
  text-decoration: underline; /* Optional: Adds underlines back on hover or focus for better accessibility */
}

.container {
  padding: 0 20px;
  margin-top: 50px;
  max-width: 600px; /* Set the maximum width of the container */
  margin-left: auto; /* Center align the container */
  margin-right: auto; /* Center align the container */
}

.container.home {
  text-align: center;
}

.profile-pic img {
  width: 120px; /* Adjust based on your preference */
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.breadcrumb-item a {
  text-decoration: none;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #555;
  font-size: 24px;
}

.navbar-menu .theme-toggle {
  cursor: pointer;
  margin-left: var(--navbar-margin);
  display: inline-block;
  width: 20px;
  text-align: center;
}

.navbar-menu a {
  margin-left: var(--navbar-margin);
  color: var(--link-color);
  text-decoration: none;
}

.navbar-menu .navbar-divider {
  margin-left: var(--navbar-margin);
  color: #ccc;
}

.social-links a:hover {
  color: #fd0d0d;
}

.social-links {
  text-align: center;
  margin-top: 20px;
}

.appearances ul {
  list-style-type: none; /* Removes bullets */
  padding-left: 0; /* Removes the default padding */
  margin-left: 0; /* Adjust as needed, depending on your site's layout */
}

.appearances ul li:not(:last-child) {
  position: relative; /* Establishes a positioning context for pseudo-elements */
  padding-bottom: 15px; /* Space between the content and the border */
  margin-bottom: 15px; /* Space between items */
}

.appearances ul li:not(:last-child::after) {
  content: ""; /* Necessary for a pseudo-element */
  position: absolute;
  bottom: 0; /* Aligns the pseudo-element at the bottom of the li */
  left: 50%; /* Positions the border in the middle */
  width: 100px; /* Width of the border */
  height: 1px; /* Height of the border */
  background-color: #ccc; /* Color of the border */
  transform: translateX(-50%); /* Centers the pseudo-element */
}

.tabs {
  overflow: hidden;
  text-align: center;
}

.tab-button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: background-color 0.3s;
  color: var(--link-color); /* Set the default color to link color */
  font-size: 1rem;
}

.tab-button:hover {
  background-color: var(--tab-selected-color, #ddd); /* Dark theme or fallback to light theme color */
}

.tab-button.active {
  background-color: var(--tab-selected-color, #ccc); /* Dark theme or fallback to light theme color */
  color: var(--text-color); /* Set the active tab to use the normal text color */
}

.tab-content {
  display: none;
  padding: 6px 12px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar-left {
  flex: 1;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--link-color);
  text-decoration: none;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-menu a:hover {
  text-decoration: underline;
}

.container.page img {
  width: 100%;
  height: auto;
}

.breadcrumb {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background: none;
}

.breadcrumb-item {
  margin-right: 1rem;
}

.breadcrumb-item.active {
  color: var(--breadcrumb-active-color);
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  position: relative;
  left: -0.5rem;
  color: var(--breadcrumb-active-color);
}

.footer {
    text-align: center;
    font-size: 14px;
    color: var(--text-color);
}

header {
  position: sticky;
  top: 0;
}
