{{ define "main" }}
<div class="home-container">
  <section class="profile-section">
    <div class="profile-pic">
      {{ $sourceImage := "" }}
      {{ $altText := "" }}
      {{ if .Site.Params.profile_image }}
        {{ $sourceImage = resources.Get .Site.Params.profile_image }}
        {{ $altText = "Profile Picture" }}
      {{ else }}
        {{ $sourceImage = resources.Get "images/profile-large-placeholder.svg" }}
        {{ $altText = "Profile Picture Placeholder" }}
      {{ end }}
      {{ with $sourceImage }}
        {{ if eq .MediaType.SubType "svg" }}
          <img src="{{ .RelPermalink }}" alt="{{ $altText }}">
        {{ else }}
          {{ $resizedImage := .Fill "120x120" }}
          <img src="{{ $resizedImage.RelPermalink }}" alt="{{ $altText }}">
        {{ end }}
      {{ end }}
    </div>
    <h1>{{ .Site.Title }}</h1>
  </section>
  
  <section class="social-links-section">
    {{ partial "socials.html" . }}
  </section>
  
  <section class="bio-section">
    <p>
      Member of <a href="https://linktr.ee/thebollweevils" target="_blank">The Bollweevils</a>,
      <a href="https://linktr.ee/theironspiders" target="_blank">The Iron Spiders</a>,
      <a href="https://linktr.ee/themizzerables" target="_blank">The Mizzerables</a>,
      <a href="https://open.spotify.com/artist/24P9iBBAQjmoZxPIV6h43Y?si=_cCOj1I5SRK_IyoSbjVFBA" target="_blank">Ten
        Ninety</a>,
      <a href="https://open.spotify.com/album/7HGboM9ezeYIcQrrerNXeY?si=D1ktkWATSHitmChVQX_JuA" target="_blank">ex-Common
        Rider</a>
    </p>
    <p>
      Leader @ PayPal, ex-Upstart, ex-Casechek
    </p>
  </section>
  
  {{ $events := ((where .Site.RegularPages "Section" "events").ByParam "doors") }}
  {{ with where $events "Params.doors" "ge" now }}
  <section class="upcoming-events">
    <h2>Upcoming Appearances</h2>
    <ul class="events-list">
      {{ range . }}
      <li class="event-item">
        <a href="{{ .RelPermalink }}">
          {{ .Params.doors | dateFormat "January 2, 2006" }}:
          {{ if and .Params.artist (ne .Params.artist .Title) }}
          {{ .Title }} - {{ .Params.artist }}
          {{ else }}
          {{ .Title }}
          {{ end }}
          @ 
          {{ $locationCity := "" }}
          {{ $locationState := "" }}
          
          {{ with .GetTerms "locations" }}
              {{ range . }}
                  {{ $locationCity = .Params.city }}
                  {{ $locationState = .Params.state }}
              {{ end }}
          {{ else }}
              {{ $locationCity = .Params.city }}
              {{ $locationState = .Params.state }}
          {{ end }}
          
          {{ if and $locationCity $locationState }}
          {{ $locationCity }}, {{ $locationState }}
          {{ end }}
        </a>
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }}
</div>
{{ end }}