{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ range .Pages.GroupBy "Section" }}
    {{ $section := $.Site.GetPage "section" .Key}}
    <h2>{{ $section.Title }}</h2>
    <ul>
        {{ if eq .Key "discography" }}
        {{ partial "list-albums.html" (dict "RootSection" $section.CurrentSection "Pages" .Pages) }}
        {{ else }}
        {{ range sort .Pages ".Params.releaseDate" "desc" }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end}}