<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode `en` }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "indent.html" (dict "content" (partial "head.html" .)) | chomp }}
</head>
<body>
  <header>
    {{ partial "indent.html" (dict "content" (partial "header.html" .) "spaces" 4) | chomp }}
  </header>
  {{ partial "indent.html" (dict "content" (partial "breadcrumbs.html" .)) | chomp }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "indent.html" (dict "content" (partial "footer.html" .)) | chomp }}
  </footer>
</body>
</html>