<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "indent.html" (dict "content" (partial "head.html" .)) | chomp }}
</head>
<body>
  <header>
    {{ partial "indent.html" (dict "content" (partial "header.html" .) "spaces" 4) | chomp }}
  </header>
  <!-- if not on home page, show breadcrumbs -->
  {{ if not .IsHome }}
  <nav class="breadcrumb" aria-label="Breadcrumbs">
    {{ partial "indent.html" (dict "content" (partial "breadcrumbs.html" . "spaces" 4)) | chomp }}
  </nav>
  {{ end }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "indent.html" (dict "content" (partial "footer.html" .)) | chomp }}
  </footer>
</body>
</html>