{{ define "main" }}
  <div class="container">
    <div class="profile-pic">
      <img src="/{{ .Site.Params.small_profile_image }}" alt="Profile Picture">
    </div>
    <h1>{{ .Site.Title }}</h1>
    <div class="social-links">
      {{ range sort .Site.Params.social_links "order" "asc" }}
      <a href="{{ .href }}" class="{{ .name }}" target="_blank"><i class="fab fa-{{ .name }}"></i></a>
      {{ end }}
    </div>
    <p>
      Music: <a href="https://linktr.ee/thebollweevils" target="_blank">The Bollweevils</a>,
      <a href="https://linktr.ee/theironspiders" target="_blank">The Iron Spiders</a>,
      <a href="https://linktr.ee/themizzerables" target="_blank">The Mizzerables</a>,
      <a href="https://open.spotify.com/artist/24P9iBBAQjmoZxPIV6h43Y?si=_cCOj1I5SRK_IyoSbjVFBA" target="_blank">Ten
        Ninety</a>,
      <a href="https://open.spotify.com/album/7HGboM9ezeYIcQrrerNXeY?si=D1ktkWATSHitmChVQX_JuA" target="_blank">Common
        Rider</a>
    </p>
    <p>
      Tech: PayPal, ex-Upstart, ex-Casechek
    </p>
    <div class="appearances">
      {{ $currentTime := now.Format "2006-01-02T15:04:05-07:00" }}
      <h2>Appearances</h2>
      <div class="tabs">
        <button class="tab-button" onclick="openTab(event, 'Upcoming')">Upcoming</button>
        <button class="tab-button" onclick="openTab(event, 'Past')">Past</button>
      </div>
      <div id="Upcoming" class="tab-content" style="display:block;">
        {{ $upcomingEvents := where .Site.Data.events "date" "ge" $currentTime }}
        {{ partial "events-list.html" $upcomingEvents }}
    </div>
    <div id="Past" class="tab-content" style="display:none;">
        {{ $pastEvents := where .Site.Data.events "date" "lt" $currentTime }}
        {{ partial "events-list.html" $pastEvents }}
    </div>
    </div>
    <div id="theme-toggle" style="position: fixed; bottom: 20px; right: 20px; cursor: pointer;">
      <!-- System icon -->
      <i id="theme-icon-system" class="fas fa-adjust" aria-hidden="true" title="Change Theme"
        style="display: none;"></i>
      <!-- Light icon -->
      <i id="theme-icon-light" class="fas fa-sun" aria-hidden="true" title="Change Theme" style="display: none;"></i>
      <!-- Dark icon -->
      <i id="theme-icon-dark" class="fas fa-moon" aria-hidden="true" title="Change Theme" style="display: none;"></i>
    </div>
  </div>
{{ end }}
