<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/theme-toggle.js"></script>
  <script src="/js/appearances.js"></script>
  <script src="/js/newsletter.js"></script>
  <script src="/js/gtag.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SMLSEPRS2B"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ .Site.Params.short_description }}">
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta property="og:description" content="{{ .Site.Params.short_description }}" />
  <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.large_profile_image }}" />
  <meta property="og:url" content="{{ .Site.BaseURL }}" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ .Site.Title }}">
  <meta name="twitter:description" content="{{ .Site.Params.short_description }}">
  <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Site.Params.large_profile_image }}">
</head>

<body>
  <div class="container">
    <div class="profile-pic">
      <img src="/{{ .Site.Params.small_profile_image }}" alt="Profile Picture">
    </div>
    <h1>{{ .Site.Title }}</h1>
    <p>
      <a href="https://linktr.ee/thebollweevils" target="_blank">The Bollweevils</a>,
      <a href="https://linktr.ee/theironspiders" target="_blank">The Iron Spiders</a>,
      <a href="https://linktr.ee/themizzerables" target="_blank">The Mizzerables</a>,
      <a href="https://open.spotify.com/artist/24P9iBBAQjmoZxPIV6h43Y?si=_cCOj1I5SRK_IyoSbjVFBA" target="_blank">Ten
        Ninety</a>,
      <a href="https://open.spotify.com/album/7HGboM9ezeYIcQrrerNXeY?si=D1ktkWATSHitmChVQX_JuA" target="_blank">Common
        Rider</a>,
      Software Architect & Leadership,
      Chicago, Traverse City
    </p>
    <div class="social-links">
      {{ range sort .Site.Params.social_links "order" "asc" }}
      <a href="{{ .href }}" class="{{ .name }}" target="_blank"><i class="fab fa-{{ .name }}"></i></a>
      {{ end }}
    </div>
    <div class="appearances">
      {{ $currentTime := now.Format "2006-01-02T15:04:05-07:00" }}
      <h2>Appearances</h2>
      <div class="tabs">
        <button class="tab-button" onclick="openTab(event, 'Upcoming')">Upcoming</button>
        <button class="tab-button" onclick="openTab(event, 'Past')">Past</button>
      </div>
      <div id="Upcoming" class="tab-content" style="display:block;">
        {{ $upcomingEvents := where .Site.Data.events "date" "ge" $currentTime }}
        {{ partial "events-list.html" $upcomingEvents }}
    </div>
    <div id="Past" class="tab-content" style="display:none;">
        {{ $pastEvents := where .Site.Data.events "date" "lt" $currentTime }}
        {{ partial "events-list.html" $pastEvents }}
    </div>
    </div>
    <div id="theme-toggle" style="position: fixed; bottom: 20px; right: 20px; cursor: pointer;">
      <!-- System icon -->
      <i id="theme-icon-system" class="fas fa-adjust" aria-hidden="true" title="Change Theme"
        style="display: none;"></i>
      <!-- Light icon -->
      <i id="theme-icon-light" class="fas fa-sun" aria-hidden="true" title="Change Theme" style="display: none;"></i>
      <!-- Dark icon -->
      <i id="theme-icon-dark" class="fas fa-moon" aria-hidden="true" title="Change Theme" style="display: none;"></i>
    </div>
  </div>
</body>

</html>