{{ define "main" }}
{{ if (eq .CurrentSection .FirstSection) }}
<div class="container">
    {{ partial "breadcrumbs.html" . }}
    {{ partial "share.html" . }}
    <h1>{{ .Title }}</h1>
    {{ $section := .Section }}
    {{ range $name, $term := .Site.Taxonomies.artists }}
    {{ $artist := $.Site.GetPage "artists" $name }}
    {{ if $artist.Params.roles }}
    <h2><a href="{{ $artist.Permalink }}">{{ $artist.Title }}</a></h2>
    <ul>
        {{ $albums := slice }}
        {{ partial "list-albums.html" (dict "RootSection" $.FirstSection "Pages" .Pages) }}
    </ul>
    {{ end }}
    {{ end }}
</div>
{{ else }}
<div class="container page discography-single">
    {{ partial "breadcrumbs.html" . }}
    {{ partial "share.html" . }}
    <h1>{{ .Title }}</h1>
    {{ with .GetTerms "artists" }}
    <p>
        by
        {{ range $i, $artist := . -}}
        {{- if $i -}}, {{ end }}<a href="{{ .Permalink }}">{{ .Title }}</a>
        {{- end -}}
    </p>
    {{ end }}
    {{ $date := "" }}
    {{ if .Params.date }}
    {{ $date = time.Format "January 1, 2006" .Params.date }}
    {{ else }}
    {{ if $.Page.Parent.Params.date }}
    {{ $date = time.Format "January 1, 2006" $.Page.Parent.Params.date }}
    {{ end }}
    {{ end }}
    {{ if $date }}
    <p>released on {{ $date }}<p>
    {{ end }}
    <ul class="links">
        {{ range $key, $link := .Params.links }}
        <li>
            <a href="{{ $link }}" target="_blank"><i class="fab fa-{{ $key }}"></i></a>
        </li>
        {{ end }}
    </ul>
    <img src="{{ .Params.featured_image }}" alt="{{ .Title }}" />
    {{ with .RegularPagesRecursive }}
    <h2>Tracklist</h2>
    <ol class="tracks">
        {{ range $key, $track := sort (where . "Type" "track") "Weight" }}
        {{ $trackNumber := printf "%02d" $track.Weight }}
        <li value="{{ $trackNumber }}">
            <div class="track">
                <span>
                    {{ with $track.Params.artists }}
                    <span class="artists">
                        {{ range $i, $artist := . }}
                        {{ $artistPage := $.Site.GetPage (printf "/artists/%s" $artist) }}
                        {{ with $artistPage }}
                        {{ if $i }}, {{ end }}
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                        {{ end }}
                        {{ end }}
                        -
                    </span>
                    {{ end }}
                    <span class="title">{{ $track.Title }}</span>
                </span>
                {{ with $track.Content }}
                <span class="show-lyrics">
                    <label class="show-lyrics" for="{{ $key }}">lyrics</label>
                </span>
                {{ end }}
            </div>
            {{ with $track.Content }}
            <input id="{{ $key }}" class="show-lyrics" type="checkbox">
            {{ with $track.Resources.Match "audio.*" }}
            <audio controls>
                {{ range . }}
                <source src="{{ .RelPermalink }}" type="{{ .MediaType.Type }}">
                {{ end }}
            </audio>
            {{ end }}
            <div class="lyrics">
                {{ $track.Content }}
            </div>
            {{ end }}
        </li>
        {{ end }}
    </ol>
    {{ end }}
    {{ with .GetPage "credits" }}
    <h2>Credits</h2>
    {{ .Content }}
    {{ end }}
</div>
{{ end }}
{{ end }}