{{ define "main" }}
{{ if (eq .CurrentSection .FirstSection) }}
<div class="container">
    {{ partial "breadcrumbs.html" . }}
    {{ partial "share.html" . }}
    <h1>{{ .Title }}</h1>
    {{ $section := .Section }}
    {{ range $name, $term := .Site.Taxonomies.artists }}
    {{ $artist := $.Site.GetPage "artists" $name }}
    {{ if $artist.Params.roles }}
    <h2><a href="{{ $artist.Permalink }}">{{ $artist.Title }}</a></h2>
    <ul>
        {{ $albums := slice }}
        {{ partial "list-albums.html" (dict "RootSection" $.FirstSection "Pages" .Pages) }}
    </ul>
    {{ end }}
    {{ end }}
</div>
{{ end }}
{{ end }}