{{ define "main" }}
{{ if (eq .CurrentSection .FirstSection) }}
<div class="container">
    <h1>{{ .Title }}</h1>
    {{ $section := .Section }}
    {{ range $name, $term := .Site.Taxonomies.artists }}
    {{ with .Page }}
    {{ if .Params.roles }}
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <ul>
        {{ $albums := slice }}
        {{ partial "list-albums.html" (dict "RootSection" $.FirstSection "Pages" .Pages) }}
    </ul>
    {{ end }}
    {{ end }}
    {{ end }}
</div>
{{ end }}
{{ end }}