{{ define "main" }}
<div class="container page discography-single">
    {{ partial "breadcrumbs.html" . }}
    {{ partial "share.html" . }}
    <h1>{{ .Title }}</h1>
    {{ with .Params.artists }}
    <p>
        by
        {{ range $i, $artist := . }}
        {{ $artistPage := $.Site.GetPage (printf "/artists/%s" $artist) }}
        {{ with $artistPage }}
        {{ if $i }}, {{ end }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
        {{ end }}
    </p>
    {{ end }}
    {{ $date := "" }}
    {{ if .Params.date }}
    {{ $date = time.Format "January 1, 2006" .Params.date }}
    {{ else }}
    {{ if $.Page.Parent.Params.date }}
    {{ $date = time.Format "January 1, 2006" $.Page.Parent.Params.date }}
    {{ end }}
    {{ end }}
    {{ if $date }}
    <p>released on {{ $date }}<p>
    {{ end }}
    <ul class="links">
        {{ range $key, $link := .Params.links }}
        <li>
            <a href="{{ $link }}" target="_blank"><i class="fab fa-{{ $key }}"></i></a>
        </li>
        {{ end }}
    </ul>
    <img src="{{ .Params.cover }}" alt="{{ .Title }}" />
    <!-- render the content in credits.md in the page bundle -->
    {{ with .Resources.Get "credits.md" }}
    {{ if .Content }}
    <h2>Credits</h2>
    {{ .Content }}
    {{ end }}
    {{ end }}
    <h2>Tracklist</h2>
    <ol class="tracks">
        {{ $count := 0 }}
        {{ range $key, $track := sort (.Resources.Match "tracks/*.md") "Name" }}
        {{ $count = add $count 1 }}
        {{ $trackNumber := printf "%02d" $count }}
        <li>
            <div class="track">
                {{ $track.Title }}<span><label class="show-lyrics" for="{{ $key }}">lyrics</label></span>
            </div>
            <input id="{{ $key }}" class="show-lyrics" type="checkbox">
            <div class="lyrics">
                {{ $track.Content }}
            </div>
        </li>
        {{ end }}
    </ol>
    <div class="embed video-player">
        <iframe style="border: 0; width: 100%; height: {{ .Params.bandcamp.height | default "422px" }};"
            src="https://bandcamp.com/EmbeddedPlayer/album={{ .Params.bandcamp.id }}/size=large/bgcol=ffffff/linkcol=de270f/artwork=none/transparent=true/"
            seamless><a href="{{ .Params.bandcamp.href }}">{{ .Params.bandcamp.description }}</a></iframe>
    </div>
</div>
{{ end }}