:root,
:root:has(fieldset.theme-toggle input[value="light"]:checked) {
  --link-color: #fd0d0d;
  --breadcrumb-active-color: #6c757d;
  --background-color: #fff;
  --text-color: #000;
  --padding-size: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --text-color: #fff;
  }
}

:root:has(fieldset.theme-toggle input[value="dark"]:checked) {
  --background-color: #121212;
  --text-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
  pointer-events: none;
}

fieldset.theme-toggle {
  -webkit-user-select: none; /* Safari */
  user-select: none;
  justify-content: center;
  width: 1.5rem;
  text-align: center;
  border: none;
  padding: 0;
  margin: 0;
  display: grid;
  align-items: center;
}

fieldset.theme-toggle label {
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: none;
  opacity: 0;
}

fieldset.theme-toggle input:checked + label {
  opacity: 1;
  pointer-events: all;
}

ul.share li {
  margin-right: 10px;
}

.discography-single .links li {
  margin-right: 15px;
  font-size: 1.5rem;
}

ul.share li:last-of-type {
  margin-right: 0;
}

form.contact input {
  padding: 10px;
}

nav.main ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav.main ul li:first-child {
  flex-grow: 1;
}

/* this is out of place */
.discography-single .links li:last-of-type {
  margin-right: 0;
}

nav.main ul li:last-child input,
nav.main ul li:last-child label {
  display: none;
}

nav.main ul li:last-child ul {
  gap: 1ch;
}

nav.main ul li:last-child ul li:first-child {
  display: none;
}

@media screen and (width <= 768px) {
  nav.main ul li:last-child ul {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--text-color);
    color: var(--background-color);
    padding: var(--padding-size);
    z-index: 1;
    grid-template-columns: auto max-content;
    grid-auto-rows: max-content;
    gap: 1ch;
  }

  nav.main ul li:last-child ul li:first-child {
    display: inherit;
    grid-area: 1 / 1 / 2 / 2;
  }

  nav.main ul li:last-child ul li:not(:first-child) {
    grid-column: 2 / 3;
    text-align: right;
  }

  nav.main ul li:last-child input,
  nav.main ul li:last-child label {
    display: inherit;
  }

  nav.main ul li:last-child input[type="checkbox"]:checked ~ ul {
    display: grid;
  }
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

a {
  color: var(--link-color);
  text-decoration: none; /* Removes underlines from all links */
}

a:hover, a:focus {
  text-decoration: underline; /* Optional: Adds underlines back on hover or focus for better accessibility */
}

nav menu {
  margin: 0;
}

.container {
  padding: 0;
  margin-top: calc(40px - var(--padding-size));
  max-width: 600px; /* Set the maximum width of the container */
  margin-left: auto; /* Center align the container */
  margin-right: auto; /* Center align the container */
}

.container.home {
  text-align: center;
}

.profile-pic img {
  width: 120px; /* Adjust based on your preference */
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.breadcrumb-item a {
  text-decoration: none;
}

.social-links {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;
  margin-top: 20px;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #555;
  font-size: 24px;
}

.social-links a:hover {
  color: var(--link-color);
}

.container.page img {
  width: 100%;
  height: auto;
}

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  background: none;
}

.breadcrumb-item {
  display: inline;
  margin-right: 1rem;
}

.breadcrumb-item.active {
  color: var(--breadcrumb-active-color);
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  position: relative;
  left: -0.5rem;
  z-index: -1;
  color: var(--breadcrumb-active-color);
}

footer {
    text-align: center;
    font-size: 14px;
    color: var(--text-color);
    padding: var(--padding-size);
}

header {
  position: sticky;
  top: 0;
  font-size: 1.25rem;
  background-color: var(--background-color);
  padding: var(--padding-size);
}

main {
  padding: var(--padding-size);
}

.tracks li::marker {
  font-family: 'Courier New', Courier, monospace;
}

header label.close {
  color: var(--background-color);
}

header span.divider {
  margin: 0 1ch;
}

.discography-single .links {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
}

ul.share {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 5px;
}

input.show-lyrics {
  display: none;
}

label.show-lyrics {
  cursor: pointer;
  -webkit-user-select: none;;
  user-select: none;
  color: var(--link-color);
}

.lyrics {
  display: none;
}

input.show-lyrics:checked ~ .lyrics {
  display: block;
}

/* .photos should show a grid of images */
.photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.videos video {
  width: 100%;
  height: auto;
}

form.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

form.contact button {
  padding: 10px;
  background-color: var(--link-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
}

form.contact button:hover {
  background-color: var(--link-color);
}

form.contact textarea {
  padding: 10px;
  height: 20rem;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  list-style: none;
}

.pagination .active a {
  color: var(--breadcrumb-active-color);
}

.pagination .disabled a {
  color: var(--breadcrumb-active-color);
}

audio::-webkit-media-controls-enclosure {
  background-color: var(--link-color);
}

audio::-webkit-media-controls-panel {
  background-color: var(--link-color);
}

audio {
  background-color: red;
  padding: 5px;
  width: calc(100% - 10px);
}

.appearances {
  list-style-position: inside;
}
