:root,
:root:has(input[type="radio"][name="theme"][value="light"]:checked) {
  --link-color: #fd0d0d;
  --breadcrumb-active-color: #6c757d;
  --background-color: #fff;
  --text-color: #000;
  --padding-size: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --text-color: #fff;
  }
}

:root:has(input[type="radio"][name="theme"][value="dark"]:checked) {
  --background-color: #121212;
  --text-color: #fff;
}

.theme-toggle {
  -webkit-user-select: none; /* Safari */
  user-select: none;
  justify-content: center;
  width: 1.5rem;
  text-align: center;
}

.theme-toggle label {
  cursor: pointer;
}

input[type="radio"][name="theme"]:not(:checked) + label {
  display: none;
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

a {
  color: var(--link-color);
  text-decoration: none; /* Removes underlines from all links */
}

a:hover, a:focus {
  text-decoration: underline; /* Optional: Adds underlines back on hover or focus for better accessibility */
}

nav ul {
  margin: 0;
}

.container {
  padding: 0;
  margin-top: calc(40px - var(--padding-size));
  max-width: 600px; /* Set the maximum width of the container */
  margin-left: auto; /* Center align the container */
  margin-right: auto; /* Center align the container */
}

.container.home {
  text-align: center;
}

.profile-pic img {
  width: 120px; /* Adjust based on your preference */
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.breadcrumb-item a {
  text-decoration: none;
}

.social-links {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;
  margin-top: 20px;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #555;
  font-size: 24px;
}

.tracks li details summary a {
  pointer-events: all;
}

.social-links a:hover {
  color: var(--link-color);
}

.container.page img {
  width: 100%;
  height: auto;
}

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  background: none;
}

.breadcrumb-item {
  display: inline;
  margin-right: 1rem;
}

.breadcrumb-item.active {
  color: var(--breadcrumb-active-color);
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  position: relative;
  left: -0.5rem;
  z-index: -1;
  color: var(--breadcrumb-active-color);
}

footer {
    text-align: center;
    font-size: 14px;
    color: var(--text-color);
    padding: var(--padding-size);
}

header {
  position: sticky;
  top: 0;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: var(--padding-size);
}

main {
  padding: var(--padding-size);
}

header input[type="checkbox"] {
  display: none;
}

header label[for="menu"] {
  display: none;
  cursor: pointer;
}

header .header-left {
  display: flex;
  align-items: center;
}

header .header-right {
  display: flex;
  align-items: center;
}

header nav ul {
  display: inline-flex;
  flex-flow: row nowrap;
  padding-left: 0;
}

header nav ul li {
  list-style: none;
  margin-right: 10px;
}

.tracks li {
  font-family: 'Courier New', Courier, monospace;
}

ul.share li {
  margin-right: 10px;
}

header nav ul li:last-of-type {
  margin-right: 0;
}

header nav ul li:has(>a[href="/"]) {
  display: none;
}

.discography-single .links li {
  margin-right: 15px;
  font-size: 1.5rem;
}


ul.share li:last-of-type {
  margin-right: 0;
}

header label.close {
  color: var(--background-color);
}

header span.divider {
  margin: 0 10px;
}

@media screen and (width <= 768px) {
  header label[for="menu"]:nth-of-type(1) {
    display: block;
  }

  header label[for="menu"]:nth-of-type(2) {
    display: none;
  }

  header nav {
    display: none;
  }
  
  header nav ul li {
    text-align: right;
    margin: 10px 0;
  }

  header input[type="checkbox"]:checked ~ nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--text-color);
  }

  header input[type="checkbox"]:checked ~ nav label:nth-of-type(1) {
    display: block;
    color: var(--background-color);
    font-size: 1.25rem;
    margin: 30px;
  }

  header input[type="checkbox"]:checked ~ nav ul {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px 30px;
  }  
}

.discography-single .links {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
}

.discography-single .links li:last-of-type {
  margin-right: 0;
}

ul.share {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 5px;
}

input.show-lyrics {
  display: none;
}

label.show-lyrics {
  cursor: pointer;
  -webkit-user-select: none;;
  user-select: none;
  color: var(--link-color);
}

.lyrics {
  display: none;
}

input.show-lyrics:checked ~ .lyrics {
  display: block;
}

/* .photos should show a grid of images */
.photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.videos video {
  width: 100%;
  height: auto;
}

form.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

form.contact button {
  padding: 10px;
  background-color: var(--link-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
}

form.contact button:hover {
  background-color: var(--link-color);
}

form.contact input {
  padding: 10px;
}

form.contact textarea {
  padding: 10px;
  height: 20rem;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  list-style: none;
}

.pagination .active a {
  color: var(--breadcrumb-active-color);
}

.pagination .disabled a {
  color: var(--breadcrumb-active-color);
}

audio::-webkit-media-controls-enclosure {
  background-color: var(--link-color);
}

audio::-webkit-media-controls-panel {
  background-color: var(--link-color);
}

audio {
  background-color: red;
  padding: 5px;
  width: calc(100% - 10px);
}

.tracks li details {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  font-family: Poppins, sans-serif;
}

.tracks li details summary {
  list-style: none;
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-rows: auto auto;
  pointer-events: none;
}

.tracks li details summary audio {
  grid-column: 1 / span 2;
}

.tracks li details summary::-webkit-details-marker {
  display: none;
}

.tracks li details summary .show-lyrics {
  pointer-events: all;
  cursor: pointer;
  color: var(--link-color);
}

.tracks li details summary .show-lyrics:hover {
  text-decoration: underline;
}