<header>
    <nav>
        <div class="navbar-left">
            <a href="/" class="navbar-brand">MIZZI</a>
        </div>
        <div class="navbar-right">
            <div class="theme-toggle">
                <!-- System icon -->
                <i id="theme-icon-system" class="fas fa-adjust" aria-hidden="true" title="Change Theme"
                    style="display: none;"></i>
                <!-- Light icon -->
                <i id="theme-icon-light" class="fas fa-sun" aria-hidden="true" title="Change Theme"
                    style="display: none;"></i>
                <!-- Dark icon -->
                <i id="theme-icon-dark" class="fas fa-moon" aria-hidden="true" title="Change Theme"
                    style="display: none;"></i>
            </div>
            <span class="divider">|</span>
            <label for="menu" tabindex="0">
                <i class="fa-solid fa-bars"></i>
            </label>
            <input id="menu" type="checkbox" />
            <ul>
                <!-- add a close button -->
                <label for="menu" class="close">
                    <i class="fa-solid fa-times"></i>
                </label>
                <li><a href="/">Home</a></li>
                {{ range .Site.RegularPages }}
                {{ if .Params.showInMenu }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
                {{ end }}
                {{ range .Site.Sections }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </div>
    </nav>
    </div>
</header>