<nav class="main-nav">
  <ul>
    <li class="brand"><strong><a href="/">MIZZI</a></strong></li>
    <li class="search">
      <a href="/search" aria-label="Search the site">
        <span role="img" aria-hidden="true">🔍</span>
      </a>
    </li>
    <li class="theme-toggle-wrapper">
      <fieldset class="theme-toggle">
        <legend class="visually-hidden">Theme Toggle</legend>

        {{- /* System icon */}}
        <input class="visually-hidden" type="radio" name="theme" id="theme-system" value="system" checked />
        <label for="theme-dark" title="Switch to Dark Theme">
          <span role="img" aria-hidden="true">🌑</span>
        </label>

        {{- /* Light icon */}}
        <input class="visually-hidden" type="radio" name="theme" id="theme-light" value="light" />
        <label for="theme-system" title="Switch to System Theme">
          <span role="img" aria-hidden="true">🖥️</span>
        </label>

        {{- /* Dark icon */}}
        <input class="visually-hidden" type="radio" name="theme" id="theme-dark" value="dark" />
        <label for="theme-light" title="Switch to Light Theme">
          <span role="img" aria-hidden="true">☀️</span>
        </label>
      </fieldset>
    </li>
    <li class="menu">
      {{ partial "indent.html" (dict "content" (partial "menu.html" (dict "page" . "menuID" "main")) "spaces" 6) | chomp }}
    </li>
  </ul>
</nav>