{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    {{ $eventsByYear := .Pages.GroupByParamDate "doors" "2006" "2006" }}
    {{ range $eventsByYear }}
    <h2>{{ .Key }}</h2>
    {{ $eventsByMonth := .Pages.GroupByParamDate "doors" "January" "January" }}
    {{ range $eventsByMonth }}
    <h3>{{ .Key }}</h3>
    <ul>
        {{ range .Pages }}
        <li>
            <a href="{{ .RelPermalink }}">
            {{ $day := .Params.doors | dateFormat "2" }}
            {{ $suffix := "th" }}
            {{ if or (eq $day "1") (eq $day "21") (eq $day "31") }}
            {{ $suffix = "st" }}
            {{ else if or (eq $day "2") (eq $day "22") }}
            {{ $suffix = "nd" }}
            {{ else if or (eq $day "3") (eq $day "23") }}
            {{ $suffix = "rd" }}
            {{ end }}
            <span><time datetime="{{ time.Format "2006-01-02" .Params.doors }}">{{ $day }}</time>{{ $suffix }}: </span>
            {{ if .Title }}
            {{ .Title }}
            {{ else if .Params.artist }}
            {{ .Params.artist }}
            {{ end }}
            <span>
                {{ $locationCity := "" }}
                {{ $locationState := "" }}
                
                {{ with .GetTerms "locations" }}
                    {{ range . }}
                        {{ $locationCity = .Params.city }}
                        {{ $locationState = .Params.state }}
                    {{ end }}
                {{ else }}
                    {{ $locationCity = .Params.city }}
                    {{ $locationState = .Params.state }}
                {{ end }}
                
                {{ if and $locationCity $locationState }}
                {{ $locationCity }}, {{ $locationState }}
                {{ end }}
            </span>
            </a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    {{ end }}
</div>
{{ end }}