{{ define "main" }}
<div class="container page">
    {{ partial "breadcrumbs.html" . }}
    {{ partial "share.html" . }}
    {{ if .Title }}
    <h1>{{ .Title }}</h1>
    {{ end }}
    {{ if .Params.artist }}
    {{ if .Title }}
    <h2>{{ .Params.artist }}</h2>
    {{ else }}
    <h1>{{ .Params.artist }}</h1>
    {{ end }}
    {{ end }}
    <p>📅 {{ .Params.doors | dateFormat "January 2, 2006" }}</p>
    {{ with .Params.location }}
    <p>🏛️ {{ . }}</p>
    {{ end }}
    {{ $address := printf "%s, %s, %s %s" .Params.address .Params.city .Params.state .Params.zip }}
    <p>📍 <a href="https://www.google.com/maps/search/?api=1&query={{ $address | urlquery }}" target="_blank">{{ $address }}</a></p>
    {{ with .Params.link }}
    <p>🔗 <a href="{{ . }}" target="_blank">More Info</a></p>
    {{ end }}
    {{ if .Params.featured_image }}
    {{ with .Resources.GetMatch .Params.featured_image }}
    <a href="{{ .RelPermalink }}" target="_blank">
        {{ with .Resize "600x"}}
        <img src="{{ .RelPermalink }}" alt="{{ .Title }}" />
        {{ end }}
    </a>
    {{ end }}
    {{ end }}
    {{ with .Resources.Match "images/*" }}
    <h2>Photos</h2>
    <div class="photos">
        {{ range . }}
        <a href="{{ .RelPermalink }}" target="_blank">
            {{ with .Fill "300x300"}}
            <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
            {{ end}}
        </a>    
        {{ end }}
    </div>
    {{ end }}
</div>
{{ end }}
