{{ define "main" }}
<article class="container page" itemscope itemtype="https://schema.org/MusicEvent" data-pagefind-body>
    {{ partial "breadcrumbs.html" . }}
    {{ if .Title }}
    <h1 itemprop="name">{{ .Title }}</h1>
    {{ end }}
    
    {{ with .GetTerms "artists" }}
    <p>
        {{ range $i, $artist := . }}
        {{ if $i }}, {{ end }}
        {{ with $artist }}
        <span itemprop="performer" itemscope itemtype="https://schema.org/MusicGroup">
            {{ range $artist.Params.links }}
            <link itemprop="sameAs" href="{{ . }}" />
            {{ end }}
            <a href="{{ .Permalink }}"><span itemprop="name">{{ .Title }}</span></a>
        </span>
        {{ end }}
        {{ end }}
    </p>
    {{ end }}

    <p>📅 <time datetime="{{ .Params.doors | dateFormat "2006-01-02T15:04:05-07:00" }}" itemprop="startDate">{{ .Params.doors | dateFormat "January 2, 2006" }}, doors: {{ .Params.doors | dateFormat "3:04PM" }}</time></p>
    {{ with .Params.location }}
    <span itemprop="location" itemscope itemtype="https://schema.org/MusicVenue">
        <p>🏛️ <span itemprop="name">{{ . }}</span></p>
        {{ end }}
        {{ $address := printf "%s, %s, %s %s" .Params.address .Params.city .Params.state .Params.zip }}
        <p>📍 <a href="https://www.google.com/maps/search/?api=1&query={{ $address | urlquery }}" target="_blank" itemprop="address">{{ $address }}</a></p>
    </span>
    {{ with .Params.link }}
    <p itemprop="offers" itemscope itemtype="https://schema.org/Offer">🔗 <a href="{{ . }}" target="_blank" itemprop="url">More Info</a></p>
    {{ end }}
    {{ if .Params.featured_image }}
    {{ with .Resources.GetMatch .Params.featured_image }}
    <a href="{{ .RelPermalink }}" target="_blank">
        {{ with .Resize "600x"}}
        <img src="{{ .RelPermalink }}" alt="{{ .Title }}" itemprop="image" />
        {{ end }}
    </a>
    {{ end }}
    {{ end }}
    {{ with .Params.videos }}
    <h2>Videos</h2>
    <div class="videos">
    <!-- loop through each video and show an html5 player for the video -->
    {{ range . }}
    <video preload="metadata" controls>
        <source src="{{ $.Site.Params.bucket_address}}{{ . }}">
    </video>
    {{ end }}
    </div>
    {{ end }}
    {{ with .Resources.Match "images/*" }}
    <h2>Photos</h2>
    <div class="photos">
        {{ range . }}
        <a href="{{ .RelPermalink }}" target="_blank">
            {{ with .Fill "300x300"}}
            <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
            {{ end}}
        </a>    
        {{ end }}
    </div>
    {{ end }}
</article>
{{ end }}
