<article class="container page" data-pagefind-body>
    {{ partial "breadcrumbs.html" . }}
    {{ partial "share.html" . }}
    <hgroup>
        <h1>{{ .Title }}</h1>
        {{- $artists := .GetTerms "artists" -}}
        {{- if and (not $artists) .Parent }}
        {{- $artists = .Parent.GetTerms "artists" -}}
        {{- end -}}
        {{ with $artists }}
        <p>by {{ partial "inline-list.html" . }}</p>
        {{ end }}
    </hgroup>
    {{ with .Resources.ByType "audio" }}
    <audio controls>
        {{ range . }}
        <source src="{{ .Permalink }}" type="{{ .MediaType }}">
        {{ end }}
        Your browser does not support the audio element.
    </audio>
    {{ end }}
    {{ .Content }}
    {{ $trackCreditPages := where .RegularPages "Type" "credit" }}
    {{ with $trackCreditPages }}
    <h2>Credits</h2>
    {{ partial "credits.html" (sort . "Weight") }}
    {{ end }}
</article>
